<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.1.1" targetFramework="net40" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net40" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net40" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net40" />
  <package id="Steema.TeeChart.NET" version="4.2021.4.21" targetFramework="net40" />
</packages>