<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net46" />
  <package id="RestSharp" version="106.3.1" targetFramework="net46" />
  <package id="Steema.TeeChart.NET" version="4.2020.4.6" targetFramework="net46" />
</packages>